/* CUSTOM VARIABLES */

:root {
  /* COLORS */
  --body-color: #506474;
  --elements-bg: #b8ccdc;
  --white: #ffffff;
  --dark: #040414;
}

ul {
  list-style: none;
}

.page-wrapper {
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.right-side-nav {
  width: 140px;
  border-radius: 5px;
  background-color: var(--elements-bg);
}

.right-side-nav > p {
  background-color: var(--dark);
  color: var(--white);
  font-size: 1rem;
}

.right-side-nav > ul {
  margin: 0;
  padding: 0;
}

.right-side-nav > ul > li {
  padding-left: 0.3rem;
  border: 1px var(--dark) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

.right-side-nav > p,
.right-side-nav > ul > li {
  padding: 5px;
}

.right-icon {
  font-size: 1rem;
}

.letter-shortcut {
  margin-right: 0.5rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: var(--elements-bg);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
