/* add correct borders. img */
.container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.square {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background-color: var(--elements-bg);
  border-bottom: 1px solid black;
}

.img-container {
  display: flex;
  justify-content: center;
}

.icon {
  width: 80px;
  height: auto;
  padding: 0.1rem;
}
